{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
   
    <div class="nav-bar">
        <div class="items">
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Contact Us</a>
            <a href="">More Tools</a>
            <a href="">Menu</a>
        </div>
    </div>
    <H1>ROTATE IMAGE TOOL</H1>
    <div class="tool-nav">
        <nav class="nav">
            <a href="{% url 'takephoto' %}"><button>Black</button></a>
            <a href="{% url 'compress' %}"><button>Compress</button></a>
            <button>Crop</button>
            
            <a href="{% url 'resizing' %}"><button>Resize</button></a>
            <a href="{% url 'rotatephoto' %}"><button>Rotate</button></a>
            
        </nav>
    </div>

    <div class="main">
    <form action="{% url 'rotatephoto' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input id="input" type="file" name="rotating">
      <div class="range">
        <input id="range" type="range" min="0" max="270" step="90" value="1" name="degree">
        <div class="span1">
    <span >
        <p>0 &deg;</p>
        <p>90 &deg;</p>
        <p>180 &deg;</p>
        <p>270 &deg;</p>
    </span>
    </div>
    
     <div class="span2">
    <span >
        <p>|</p>
        <p>|</p>
        <p>|</p>
        <p>|</p>
    </span>
    </div>
    </div>
        <button>submit</button>
    </form>
    </div>
    <div class="ord">
        {% if lelo %}
        <img src="{% static 'rotate/'%}{{lelo}}" alt="">
        <p><a href="{% static 'rotate/'%}{{lelo}}" download>Click to download</a></p>
        {% endif %}
    </div>
</body>

</html>